<div class="site-social" aria-label="{{ 'general.social_profiles' | t }}">

	{%- if settings.social_twitter != '' -%}
		<a href="{{ settings.social_twitter | escape }}" target="_blank" aria-label="Twitter">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_twitter' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Twitter</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_youtube != '' -%}
		<a href="{{ settings.social_youtube | escape }}" target="_blank" aria-label="YouTube">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_youtube' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">YouTube</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_vimeo != '' -%}
		<a href="{{ settings.social_vimeo | escape }}" target="_blank" aria-label="Vimeo">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_vimeo' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Vimeo</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_pinterest != '' -%}
		<a href="{{ settings.social_pinterest | escape }}" target="_blank" aria-label="Pinterest">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_pinterest' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Pinterest</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_tumblr != '' -%}
		<a href="{{ settings.social_tumblr | escape }}" target="_blank" aria-label="Tumblr">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_tumblr' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Tumblr</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_instagram != '' -%}
		<a href="{{ settings.social_instagram | escape }}" target="_blank" aria-label="Instagram">
			<span class="icon {{ size }}" aria-hidden="true">
              {% comment %}
                {% render 'theme-symbols', icon: 'social_instagram' %}
                Rendering custom instagram icon
              {% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 21.7107C17.866 21.7107 21 18.5767 21 14.7107C21 10.8447 17.866 7.71069 14 7.71069C10.134 7.71069 7 10.8447 7 14.7107C7 18.5767 10.134 21.7107 14 21.7107ZM14 19.3774C16.5773 19.3774 18.6667 17.288 18.6667 14.7107C18.6667 12.1334 16.5773 10.044 14 10.044C11.4227 10.044 9.33333 12.1334 9.33333 14.7107C9.33333 17.288 11.4227 19.3774 14 19.3774Z" fill="#0F0F0F"/>
                <path d="M21.0002 6.54395C20.3558 6.54395 19.8335 7.06629 19.8335 7.71061C19.8335 8.35494 20.3558 8.87728 21.0002 8.87728C21.6445 8.87728 22.1668 8.35494 22.1668 7.71061C22.1668 7.06629 21.6445 6.54395 21.0002 6.54395Z" fill="#0F0F0F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.92946 5.69951C1.1665 7.19689 1.1665 9.15708 1.1665 13.0774V16.3441C1.1665 20.2645 1.1665 22.2247 1.92946 23.722C2.60057 25.0392 3.67143 26.11 4.98857 26.7811C6.48596 27.5441 8.44614 27.5441 12.3665 27.5441H15.6332C19.5535 27.5441 21.5138 27.5441 23.0111 26.7811C24.3282 26.11 25.3991 25.0392 26.0702 23.722C26.8332 22.2247 26.8332 20.2645 26.8332 16.3441V13.0774C26.8332 9.15708 26.8332 7.19689 26.0702 5.69951C25.3991 4.38237 24.3282 3.31151 23.0111 2.64039C21.5138 1.87744 19.5535 1.87744 15.6332 1.87744H12.3665C8.44614 1.87744 6.48596 1.87744 4.98857 2.64039C3.67143 3.31151 2.60057 4.38237 1.92946 5.69951ZM15.6332 4.21077H12.3665C10.3678 4.21077 9.00913 4.21259 7.95893 4.29839C6.93595 4.38197 6.41282 4.53346 6.04788 4.71941C5.16979 5.16682 4.45589 5.88073 4.00847 6.75882C3.82253 7.12375 3.67103 7.64689 3.58745 8.66987C3.50166 9.72007 3.49984 11.0788 3.49984 13.0774V16.3441C3.49984 18.3428 3.50166 19.7014 3.58745 20.7517C3.67103 21.7747 3.82253 22.2978 4.00847 22.6628C4.45589 23.5408 5.16979 24.2547 6.04788 24.7021C6.41282 24.8881 6.93595 25.0396 7.95893 25.1232C9.00913 25.2089 10.3678 25.2108 12.3665 25.2108H15.6332C17.6319 25.2108 18.9905 25.2089 20.0407 25.1232C21.0638 25.0396 21.5869 24.8881 21.9518 24.7021C22.8299 24.2547 23.5438 23.5408 23.9912 22.6628C24.1771 22.2978 24.3287 21.7747 24.4122 20.7517C24.498 19.7014 24.4998 18.3428 24.4998 16.3441V13.0774C24.4998 11.0788 24.498 9.72007 24.4122 8.66987C24.3287 7.64689 24.1771 7.12375 23.9912 6.75882C23.5438 5.88073 22.8299 5.16682 21.9518 4.71941C21.5869 4.53346 21.0638 4.38197 20.0407 4.29839C18.9905 4.21259 17.6319 4.21077 15.6332 4.21077Z" fill="#0F0F0F"/>
              </svg>
            </span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Instagram</span>
			{%- endif -%}
		</a>
	{%- endif -%}
    
	{%- if settings.social_facebook != '' -%}
		<a href="{{ settings.social_facebook | escape }}" target="_blank" aria-label="Facebook">
			<span class="icon {{ size }}" aria-hidden="true">
              {% comment %}
                {% render 'theme-symbols', icon: 'social_facebook' %}
                Rendering custom facebook icon
              {% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                <g clip-path="url(#clip0_644_12583)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5498 28.7107V16.1107H20.3752L21 10.5107H16.5498V7.78315C16.5498 6.34115 16.5866 4.91069 18.6017 4.91069H20.6426V0.906885C20.6426 0.846685 18.8895 0.710693 17.1159 0.710693C13.412 0.710693 11.0928 3.03077 11.0928 7.29097V10.5107H7V16.1107H11.0928V28.7107H16.5498Z" fill="black"/>
                </g>
                <defs>
                  <clipPath id="clip0_644_12583">
                    <rect width="28" height="28" fill="white" transform="translate(0 0.710693)"/>
                  </clipPath>
                </defs>
              </svg>
            </span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Facebook</span>
			{%- endif -%}
		</a>
	{%- endif -%}


	{%- if settings.social_tiktok != '' -%}
		<a href="{{ settings.social_tiktok | escape }}" target="_blank" aria-label="TikTok">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_tiktok' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">TikTok</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_linkedin != '' -%}
		<a href="{{ settings.social_linkedin | escape }}" target="_blank" aria-label="LinkedIn">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_linkedin' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">LinkedIn</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_flickr != '' -%}
		<a href="{{ settings.social_flickr | escape }}" target="_blank" aria-label="Flickr">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_flickr' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Flickr</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_reddit != '' -%}
		<a href="{{ settings.social_reddit | escape }}" target="_blank" aria-label="Reddit">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_reddit' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Reddit</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_email != '' -%}
		<a href="{{ settings.social_email | escape }}" target="_blank" aria-label="Email">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_email' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Email</span>
			{%- endif -%}
		</a>
	{%- endif -%}

	{%- if settings.social_phone != '' -%}
		<a href="{{ settings.social_phone | escape }}" target="_blank" aria-label="Phone">
			<span class="icon {{ size }}" aria-hidden="true">{% render 'theme-symbols', icon: 'social_phone' %}</span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">Phone</span>
			{%- endif -%}
		</a>
	{%- endif -%}

  {%- if settings.social_custom != '' -%}
    <a href="{{ settings.social_custom | escape }}" target="_blank">
      <span class="icon {{ size }}" aria-hidden="true"><img src="{{ settings.social_custom_icon | image_url: width: 24, height: 24, crop: 'center' }}" srcset="{{ settings.social_custom_icon | image_url: width: 24, height: 24, crop: 'center' }} 24w, {{ settings.social_custom_icon | image_url: width: 48, height: 48, crop: 'center' }} 48w, {{ settings.social_custom_icon | image_url: width: 72, height: 72, crop: 'center' }} 72w" sizes="24px" width="{{ settings.social_custom_icon.width }}" height="{{ settings.social_custom_icon.height }}" style="width:100%;height:100%" alt="{{ settings.social_custom_icon.alt | escape }}"></span>
			{%- if type == 'footer' -%}
				<span class="text underline-animation">{{ settings.social_custom_label | escape }}</span>
			{%- endif -%}
    </a>
  {%- endif -%}

</div>