<div id="section-{{ section.id }}" class="site-box-container image-container container--fullscreen connecting-lines">
  {%- if section.settings.link != blank -%}
    <a href="{{ section.settings.link }}" {% if section.settings.target %} target="_blank" {% endif %}>
  {%- endif -%}

  {%- unless section.settings.image == blank -%}
    {%- assign image = section.settings.image -%}
    <div id="blank__image" class="blank-image">
      <img
        src="{{ image | image_url: width: 640 }}" alt="{{ image.alt | strip_html | escape }}"
        srcset="{{ image | image_url: width: 320 }} 320w, {{ image | image_url: width: 480 }} 480w, {{ image | image_url: width: 640 }} 640w, {{ image | image_url: width: 840 }} 840w, {{ image | image_url: width: 1080 }} 1080w, {{ image | image_url: width: 1280 }} 1280w, {{ image | image_url: width: 1540 }} 1540w, {{ image | image_url: width: 1860 }} 1860w, {{ image | image_url: width: 2100 }} 2100w"
        sizes="100vw"
        width="{{ image.width }}" height="{{ image.height }}"
        {% unless preload %} loading="lazy" {% endunless %} class="lazy"
        style="width: 100%; height: 100vh; object-fit: cover;"
      />
    </div>
    <img class="logo-image" src="https://cdn.shopify.com/s/files/1/0635/9731/4234/files/Group_2.svg?v=1701696688" width="100%"/>
  {%- else -%}
    <div class="box__blank-image">
      <span class="onboarding-svg section--image-text--item__image onboarding-background">
        {{ 'image' | placeholder_svg_tag }}
      </span>
    </div>
  {%- endunless -%}

  {%- if section.settings.link != blank -%} </a> {%- endif -%}
</div>

<style>
  .image-container {
    background-image: url("https://cdn.shopify.com/s/files/1/0635/9731/4234/files/Group_4_1.svg?v=1701700887")!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
  }

  #blank__image {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  #blank__image .lazy {
    opacity: 1;
  }

  .logo-image {
    position: absolute;
    left: 50%;
    top: 100%; /* Change the starting point to the bottom of the page */
    transform: translate(-50%, -50%);
    width: 100%;
  }

</style>


<!-- ... Your HTML code ... -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Initiate ScrollTrigger
    gsap.registerPlugin(ScrollTrigger);

    // Get the section and image elements
    var section = document.querySelector(".image-container");
    var image = section.querySelector(".blank-image"); // Replace with the actual class of your image
    var logo = section.querySelector(".logo-image"); // Logo image element

    // Pin the section for the first 400 pixels
    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top top",
        end: "400px top",
        pin: true,
        scrub: true,
      },
    });

    // Shrink the image as we scroll down
    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top 400px",
        scrub: true,
      },
    })
    .to(image, { scale: 0.5, transformOrigin: "center center" });

    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top 10%",
        end: "400px top",
        scrub: true,
      },
    })
    .to(logo, { top: "10%", width: "10%", ease: "none" });
  });
</script>



{% schema %}
  {
    "name": "Perspective Image",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image.name"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.link"
      },
      {
        "type": "checkbox",
        "id": "target",
        "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.target",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Perspective Image"
      }
    ],
    "disabled_on": {
      "groups": ["custom.overlay", "header"]
    }
  }
{% endschema %}
