{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{%- render 'custom-colors', id: section.id, background: section.settings.custom_background, text: section.settings.custom_text -%}

<div id="section-{{ section.id }}" class="site-footer site-box-container">

  <div class="footer-container">

    {%- if section.blocks.size > 0 -%}

      <div class="footer-top" data-size="{{ section.blocks.size }}">

        {%- for block in section.blocks -%}

          <div class="footer-item" data-type="{{ block.type }}" {{ block.shopify_attributes }}>

            {%- if block.settings.title -%}
              <{{ section.settings.seo_h_tag }} class="title h6">{{ block.settings.title | escape }}</{{ section.settings.seo_h_tag }}>
            {%- endif -%}

            {%- case block.type -%}

              {%- when 'text' -%}
                <div class="footer-content rte {{ block.settings.size }}">
                  {{ block.settings.content }}
                </div>

              {%- when 'menu' -%}
                <nav class="footer-menu text-size--smaller">
                  {%- for link in linklists[block.settings.menu].links -%}
                    <span>
                      <a href="{{ link.url | escape }}"><span class="underline-animation">{{ link.title | escape }}</span></a>
                    </span>
                  {%- endfor -%}
                </nav>

              {%- when 'social' -%}
                <nav class="text-size--smaller">
                  {%- render 'social-icons', type: 'footer' -%}
                </nav>

              {%- when 'image' -%}
                <div class="footer-image">
                  {%- if block.settings.image -%}
                    {%- render 'lazy-image', image: block.settings.image, sizes: 'sizes="25vw"' -%}
                  {%- else -%}
                    <span>{{ 'image' | placeholder_svg_tag }}</span>
                  {%- endif -%}
                </div>

            {%- endcase -%}

          </div>

        {%- endfor -%}

      {% render 'social-icons' %}

      </div>

    {%- endif -%}

    <div class="footer-bottom">

      {%- if section.settings.custom_text != "rgba(0,0,0,0)" -%}
        <style>
          {%- assign main_text = section.settings.custom_text -%}
          .site-footer .regular-select-cover {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.42815 7.47604L7.01394 8.89025L0.528658 2.40497L1.94287 0.990753L8.42815 7.47604Z' fill='{{ main_text | color_to_rgb }}'/%3E%3Cpath d='M6.98591 8.89025L5.5717 7.47604L12.057 0.990755L13.4712 2.40497L6.98591 8.89025Z' fill='{{ main_text | color_to_rgb }}'/%3E%3C/svg%3E%0A");
          }
        </style>
      {%- endif -%}

      {%- liquid 

        if section.settings.show_country_selector and shop.enabled_currencies.size > 1
          assign country_selector = true
        endif

        if section.settings.show_locale_selector and shop.published_locales.size > 1
          assign locale_selector = true
        endif 

        if country_selector or locale_selector
          render 'localization-form', show_country_selector: country_selector, show_locale_selector: locale_selector, location: 'footer'
        endif

      -%}

      <div class="footer-copyright">
        
        {%- if section.settings.enable_follow_on_shop -%}
          {{ shop | login_button: action: 'follow' }}
        {%- endif -%}

        {%- if section.settings.show_payment_icons and shop.enabled_payment_types != empty -%}
          <div class="site-payment" aria-label="{{ 'general.payment_methods' | t }}">
            {%- for type in shop.enabled_payment_types -%}
              {{ type | payment_type_svg_tag: class: 'payment-icon' }}
            {%- endfor -%}
          </div>
        {%- endif -%}
        
        <span class="site-copyright text-size--smaller">
          <span class="copyright-text">{% comment %}{{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}{% endcomment %} <a href="{{ routes.root_url }}">{{ shop.name | escape }}</a><div>Crafted by <a href="https://multivitamin.studio">Multivitamin Studio</a></div></span>
        </span>

        
      </div>
      <svg class="mm-image" width="1236" height="122" viewBox="0 0 1236 122" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1235.9 2.2H1214L1162.1 97.9L1143.9 2.2H1123.2L1102.5 119.7H1116.9L1134 19.7L1153.4 118H1165L1218.7 20.5L1200.8 119.6H1215.2L1235.9 2.2ZM1086.2 119.7V35.8H1072.1V79.4C1072.1 88 1070.4 97.1 1065.1 102.6C1061.5 106.4 1056.8 108.9 1051.2 108.9C1037.9 108.9 1033.3 101.4 1033.3 88.8V35.8H1019.2V90.8C1019.2 110.2 1028.8 121.6 1047.9 121.6C1057.7 121.6 1068.5 116.5 1072.8 106.8L1074 119.6H1086.2V119.7ZM998.1 119.7V64.5C998.1 45.9 989.1 33.7 970.1 33.7C959.5 33.7 948.7 39.2 944.2 49.6C940.6 39.3 931.6 33.7 919.2 33.7C909.8 33.7 900.1 38.3 895.7 47.8L894.4 35.9H882.1V119.8H896.2V75.1C896.2 68.1 897.7 59.2 901.8 53.9C905.3 49.4 910.1 46.4 916.1 46.4C929.5 46.4 933 54.5 933 66.3V119.7H947V75.1C947 66.3 948.5 57.9 954.1 52.1C957.4 48.6 961.6 46.5 966.9 46.5C980.2 46.5 984 54.6 984 66.4V119.8H998.1V119.7ZM859.5 35.8H845V119.7H859.4V35.8H859.5ZM860.5 0H844.1V16.6H860.5V0ZM832.1 119.7L802.9 76.9L831.2 35.8H815L793.9 67.5L772 35.8H755.4L783.6 76.9L755.1 119.7H771.2L793.1 86.7L815.1 119.7H832.1ZM723.7 84.2C723.7 91.2 721.5 98.1 716.6 103.3C712.1 107.9 705.8 110.1 699.4 110.1C687.5 110.1 682.8 103.1 682.8 95.7C682.8 85.1 692.7 81.1 701.2 80.6L723.7 79.3V84.2V84.2ZM746 118.9V108.5C746 108.5 743.8 109 742.4 109C739.6 109 737.8 107.8 737.8 103.4V62.7C737.8 57.9 737 53.6 735.3 49.8C731.3 40.7 722 33.7 705.8 33.7C695.5 33.7 685.6 36.7 679.9 42.7C675.6 47.2 672.8 52.6 672.6 60.3H686.4C686.4 56.2 687.9 52.8 690.5 50.2C693.3 47.4 698.1 45.2 705.8 45.2C712.6 45.2 716.7 46.9 719.6 49.5C723.4 53 723.9 58.1 723.9 62.3V68.4L698.4 69.9C675.5 71.2 668.6 85.3 668.6 96.1C668.6 109 678.2 122 697.4 122C709.2 122 719.6 116.7 724.4 108.2H724.7C724.7 115.3 729.3 121 736.8 121C740.2 120.9 743 120.4 746 118.9ZM664.1 2.2H642.2L590.3 97.9L572.1 2.2H551.4L530.7 119.7H545.1L562.2 19.7L581.6 118H593.2L646.9 20.5L629 119.7H643.4L664.1 2.2ZM514.4 119.7V35.8H500.3V79.4C500.3 88 498.6 97.1 493.3 102.6C489.7 106.4 485 108.9 479.4 108.9C466.1 108.9 461.5 101.4 461.5 88.8V35.8H447.4V90.8C447.4 110.2 457 121.6 476.1 121.6C485.9 121.6 496.7 116.5 501 106.8L502.2 119.6H514.4V119.7ZM426.3 119.7V64.5C426.3 45.9 417.3 33.7 398.3 33.7C387.7 33.7 376.9 39.2 372.4 49.6C368.8 39.3 359.8 33.7 347.4 33.7C338 33.7 328.3 38.3 323.9 47.8L322.6 35.9H310.3V119.8H324.4V75.1C324.4 68.1 325.9 59.2 330 53.9C333.5 49.4 338.3 46.4 344.3 46.4C357.7 46.4 361.2 54.5 361.2 66.3V119.7H375.3V75.1C375.3 66.3 376.8 57.9 382.4 52.1C385.7 48.6 389.9 46.5 395.2 46.5C408.5 46.5 412.3 54.6 412.3 66.4V119.8H426.3V119.7ZM287.7 35.8H273.3V119.7H287.7V35.8ZM288.7 0H272.3V16.6H288.7V0ZM251.7 119.7V64.5C251.7 45.1 241.8 33.7 222.7 33.7C213.3 33.7 201.6 38.8 197.3 48.5L196.1 35.9H183.8V119.8H198V80.8C198 74.3 198.2 65.5 201 59.4C204.6 51.8 211.1 46.5 219.2 46.5C232.5 46.5 237.6 54 237.6 66.6V119.8H251.7V119.7ZM161.3 35.8H146.9V119.7H161.3V35.8ZM162.3 0H145.9V16.6H162.3V0ZM133.5 2.2H111.6L59.7 97.8L41.4 2.2H20.7L0 119.7H14.4L31.5 19.7L50.9 118H62.5L116.2 20.5L98.3 119.6H112.7L133.5 2.2Z" fill="black"></path>
      </svg>

    </div>

  </div>

</div>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "max_blocks": 6,
    "class": "mount-footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:sections.footer.settings.show_payment_icons.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.language_selector.content",
        "info": "t:sections.footer.settings.language_selector.info"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "t:sections.footer.settings.language_selector_show.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.country_selector.content",
        "info": "t:sections.footer.settings.country_selector.info"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "t:sections.footer.settings.country_selector_show.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:settings_schema.follow_on_shop.content",
        "info": "t:settings_schema.follow_on_shop.info"
      },
      {
        "type": "checkbox",
        "id": "enable_follow_on_shop",
        "label": "t:settings_schema.follow_on_shop.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.split-extra-words.settings_schema.colors.headings.custom_colors"
      },
      {
        "type": "color",
        "id": "custom_background",
        "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "custom_text",
        "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h4"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Contact information"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.footer.blocks.text.settings.content.label",
            "default": "<p>Write a short statement about your brand.</p>"
          },
          {
            "type": "select",
            "id": "size",
            "label": "t:sections.footer.blocks.text.settings.text_size.label",
            "options": [
              {
                "value": "",
                "label": "t:sections.footer.blocks.text.settings.text_size.options__1.label"
              },
              {
                "value": "text-size--large",
                "label": "t:sections.footer.blocks.text.settings.text_size.options__2.label"
              }
            ],
            "default": "text-size--large"
          }
        ]
      },
      {
        "type": "menu",
        "name": "t:sections.split-extra-words.sections.footer.blocks.menu.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "t:sections.split-extra-words.sections.footer.blocks.menu.label",
            "default": "footer",
            "info": "t:sections.footer.blocks.menus.settings.menu_1.info"
          }
        ]
      },
      {
        "type": "social",
        "name": "t:sections.footer.blocks.social.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Follow us"
          }
        ]
      },
      {
        "type": "image",
        "name": "t:sections.footer.blocks.image.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Trust badge"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.footer.blocks.image.settings.image.label"
          }
        ]
      }
    ],
    "enabled_on": {
      "groups": ["footer"]
    }
  }
{% endschema %}