{% comment %}Homepage hero perspective section{% endcomment %}
<div class="perspective-section-container">
<div id="section-{{ section.id }}" class="site-box-container image-container container--fullscreen">
  {%- if section.settings.link != blank -%}
    <a href="{{ section.settings.link }}" {% if section.settings.target %} target="_blank" {% endif %}>
  {%- endif -%}

  {%- unless section.settings.image == blank -%}
    {%- assign image = section.settings.image -%}
    {%- assign mobile_image = section.settings.mobile_image -%}
    {%- assign video = section.settings.video -%}
    {%- assign show_video = section.settings.show_video -%}
    {%- assign mobile_video = section.settings.mobile_video -%}
    {%- assign show_mobile_video = section.settings.show_mobile_video -%}
    <div class="perspective-container">
      <div class="box">
        <div class="box__face box__face--front"></div>
        <div class="box__face box__face--front-2"></div>
        <div class="box__face box__face--front-3"></div>
        <div class="box__face box__face--front-4"></div>
          {% if section.settings.show_video %}
            <video id="vid"
              class="lazy scale-one box__face box__face--back desktop-image"
              style="height: inherit; width: inherit; object-fit: cover;" 
              playsinline="true"
              autoplay 
              muted
              loop 
              loading="lazy">
              <source src="{{ section.settings.video }}"/>
            </video>
          {% else %}
            <img
              src="{{ image | image_url: width: 640 }}"
              alt="{{ image.alt | strip_html | escape }}"
              srcset="{{ image | image_url: width: 320 }} 320w, {{ image | image_url: width: 480 }} 480w, {{ image | image_url: width: 640 }} 640w, {{ image | image_url: width: 840 }} 840w, {{ image | image_url: width: 1080 }} 1080w, {{ image | image_url: width: 1280 }} 1280w, {{ image | image_url: width: 1540 }} 1540w, {{ image | image_url: width: 1860 }} 1860w, {{ image | image_url: width: 2100 }} 2100w"
              sizes="100vw"
              width="{{ image.width }}" height="{{ image.height }}"
              {% unless preload %} loading="lazy" {% endunless %} class="lazy scale-one box__face box__face--back desktop-image"
              style="opacity: 1;"/>
          {% endif %}
          {% if section.settings.show_mobile_video %}
            <video id="mobile_vid"
              class="lazy scale-one box__face box__face--mobile-back mobile-image"
              style="height: inherit; width: inherit; object-fit: cover;" 
              playsinline="true"
              autoplay 
              muted
              loop 
              loading="lazy">
              <source src="{{ section.settings.mobile_video }}"/>
            </video>
          {% else %}
          <img
            src="{{ mobile_image }}"
            alt="{{ mobile_image.alt | strip_html | escape }}"
            srcset="{{ mobile_image | img_url: '320x' }} 320w, {{ mobile_image | img_url: '480x' }} 480w, {{ mobile_image | img_url: '640x' }} 640w, {{ mobile_image | img_url: '840x' }} 840w, {{ mobile_image | img_url: '1080x' }} 1080w, {{ mobile_image | img_url: '1280x' }} 1280w, {{ mobile_image | img_url: '1540x' }} 1540w, {{ mobile_image | img_url: '1860x' }} 1860w, {{ mobile_image | img_url: '2100x' }} 2100w"
            sizes="100vw"
            width="{{ mobile_image.width }}" height="{{ mobile_image.height }}"
            {% unless preload %} loading="lazy" {% endunless %} class="lazy scale-one box__face box__face--mobile-back mobile-image"
            style="opacity: 1;"
          >
          {% endif %}
        <div class="box__face box__face--right"></div>
        <div class="box__face box__face--left"></div>
        <div class="box__face box__face--top"></div>
        <div class="box__face box__face--bottom"></div>
      </div>
    </div>
    <svg class="logo-image" width="1236" height="122" viewBox="0 0 1236 122" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1235.9 2.2H1214L1162.1 97.9L1143.9 2.2H1123.2L1102.5 119.7H1116.9L1134 19.7L1153.4 118H1165L1218.7 20.5L1200.8 119.6H1215.2L1235.9 2.2ZM1086.2 119.7V35.8H1072.1V79.4C1072.1 88 1070.4 97.1 1065.1 102.6C1061.5 106.4 1056.8 108.9 1051.2 108.9C1037.9 108.9 1033.3 101.4 1033.3 88.8V35.8H1019.2V90.8C1019.2 110.2 1028.8 121.6 1047.9 121.6C1057.7 121.6 1068.5 116.5 1072.8 106.8L1074 119.6H1086.2V119.7ZM998.1 119.7V64.5C998.1 45.9 989.1 33.7 970.1 33.7C959.5 33.7 948.7 39.2 944.2 49.6C940.6 39.3 931.6 33.7 919.2 33.7C909.8 33.7 900.1 38.3 895.7 47.8L894.4 35.9H882.1V119.8H896.2V75.1C896.2 68.1 897.7 59.2 901.8 53.9C905.3 49.4 910.1 46.4 916.1 46.4C929.5 46.4 933 54.5 933 66.3V119.7H947V75.1C947 66.3 948.5 57.9 954.1 52.1C957.4 48.6 961.6 46.5 966.9 46.5C980.2 46.5 984 54.6 984 66.4V119.8H998.1V119.7ZM859.5 35.8H845V119.7H859.4V35.8H859.5ZM860.5 0H844.1V16.6H860.5V0ZM832.1 119.7L802.9 76.9L831.2 35.8H815L793.9 67.5L772 35.8H755.4L783.6 76.9L755.1 119.7H771.2L793.1 86.7L815.1 119.7H832.1ZM723.7 84.2C723.7 91.2 721.5 98.1 716.6 103.3C712.1 107.9 705.8 110.1 699.4 110.1C687.5 110.1 682.8 103.1 682.8 95.7C682.8 85.1 692.7 81.1 701.2 80.6L723.7 79.3V84.2V84.2ZM746 118.9V108.5C746 108.5 743.8 109 742.4 109C739.6 109 737.8 107.8 737.8 103.4V62.7C737.8 57.9 737 53.6 735.3 49.8C731.3 40.7 722 33.7 705.8 33.7C695.5 33.7 685.6 36.7 679.9 42.7C675.6 47.2 672.8 52.6 672.6 60.3H686.4C686.4 56.2 687.9 52.8 690.5 50.2C693.3 47.4 698.1 45.2 705.8 45.2C712.6 45.2 716.7 46.9 719.6 49.5C723.4 53 723.9 58.1 723.9 62.3V68.4L698.4 69.9C675.5 71.2 668.6 85.3 668.6 96.1C668.6 109 678.2 122 697.4 122C709.2 122 719.6 116.7 724.4 108.2H724.7C724.7 115.3 729.3 121 736.8 121C740.2 120.9 743 120.4 746 118.9ZM664.1 2.2H642.2L590.3 97.9L572.1 2.2H551.4L530.7 119.7H545.1L562.2 19.7L581.6 118H593.2L646.9 20.5L629 119.7H643.4L664.1 2.2ZM514.4 119.7V35.8H500.3V79.4C500.3 88 498.6 97.1 493.3 102.6C489.7 106.4 485 108.9 479.4 108.9C466.1 108.9 461.5 101.4 461.5 88.8V35.8H447.4V90.8C447.4 110.2 457 121.6 476.1 121.6C485.9 121.6 496.7 116.5 501 106.8L502.2 119.6H514.4V119.7ZM426.3 119.7V64.5C426.3 45.9 417.3 33.7 398.3 33.7C387.7 33.7 376.9 39.2 372.4 49.6C368.8 39.3 359.8 33.7 347.4 33.7C338 33.7 328.3 38.3 323.9 47.8L322.6 35.9H310.3V119.8H324.4V75.1C324.4 68.1 325.9 59.2 330 53.9C333.5 49.4 338.3 46.4 344.3 46.4C357.7 46.4 361.2 54.5 361.2 66.3V119.7H375.3V75.1C375.3 66.3 376.8 57.9 382.4 52.1C385.7 48.6 389.9 46.5 395.2 46.5C408.5 46.5 412.3 54.6 412.3 66.4V119.8H426.3V119.7ZM287.7 35.8H273.3V119.7H287.7V35.8ZM288.7 0H272.3V16.6H288.7V0ZM251.7 119.7V64.5C251.7 45.1 241.8 33.7 222.7 33.7C213.3 33.7 201.6 38.8 197.3 48.5L196.1 35.9H183.8V119.8H198V80.8C198 74.3 198.2 65.5 201 59.4C204.6 51.8 211.1 46.5 219.2 46.5C232.5 46.5 237.6 54 237.6 66.6V119.8H251.7V119.7ZM161.3 35.8H146.9V119.7H161.3V35.8ZM162.3 0H145.9V16.6H162.3V0ZM133.5 2.2H111.6L59.7 97.8L41.4 2.2H20.7L0 119.7H14.4L31.5 19.7L50.9 118H62.5L116.2 20.5L98.3 119.6H112.7L133.5 2.2Z" fill="white"></path>
    </svg>

  {%- else -%}
    <div class="box__blank-image">
      <span class="onboarding-svg section--image-text--item__image onboarding-background">
        {{ 'image' | placeholder_svg_tag }}
      </span>
    </div>
  {%- endunless -%}

  {%- if section.settings.link != blank -%} </a> {%- endif -%}
  </div>
</div>
</div>

<svg class="mobile-icon" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <rect fill="none" height="50" width="50"/>
  <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1" x1="9" x2="41" y1="25" y2="25"/><line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1" x1="25" x2="25" y1="9" y2="41"/>
</svg>

      <div class="mobile">
      <div class="s-info active" id="info-section">
      <div class="s-info-inside">
        <div class="s-info-text s-info-t1">
          <div class="s-info-text-content justify"><p style="font-size: 16px; line-height: 1.2; text-align: left;"><em>M</em>inimu<em>M</em>aximu<em>M</em> is a new premium retail destination, bringing a piece of Mayfair to the affluent area of Hadley Wood located just outside of north London. We focus on luxury, timeless and enduring fashion pieces, accessories and lifestyle goods from both established and up-and-coming independent brands.&nbsp;</p></div>
        </div>
        <div class="s-info-text s-info-t2">
          <div class="s-info-text-title">
            <h3 style="font-size: 16px; line-height: 1.2;">Currently Stocking</h3>
          </div>
          <div class="s-info-text-content">
            <div class="s-info-text-content-m"><p style="font-size: 16px; line-height: 1.2;">Adnym Atelier<br>AMI Paris<br>Acqua dell’Elba<br>by FAR<br>BALR<br>Church’s<br>Coach<br>dunhill<br>Duvetica<br>Felisi<br>GaGà Milano<br>Heeley Perfumes<br>IL BISONTE<br>John Smedley<br>juun.j<br>Mackintosh<br>Marni<br>Max Mara<br>MSGM<br>Neal’s Yard<br>Ray-Ban<br>P448<br>Prada<br>Roberto Cavalli<br>Soulland<br>Spalwart<br>SUNNEI<br>Tatras<br>Tricker’s<br>Viktor&amp;Rolf<br>White:Space</p></div>          </div>
        </div>
        <div class="s-info-text s-info-t3">
          <div class="s-info-text-title">
            <h3 style="font-size: 16px; line-height: 1.2;">Visit Us</h3>
          </div>
          <div class="s-info-text-content center">
            <p>
              <a style="font-size: 16px; line-height: 1.2;" href="https://goo.gl/maps/8WX5LeFMYvEitFYh8" target="_blank">220–222 High Street, Barnet, EN5 5SZ</a>
            </p>
          </div>
          <div class="s-info-text s-info-t4">
            <div class="s-info-text-title">
              <h3 style="font-size: 16px; line-height: 1.2;">Opening Hours</h3>
            </div>
            <div class="s-info-text-content">
              <div class="s-info-text-content-table">
                <div class="s-info-text-content-table-row">
                  <span style="font-size: 16px; line-height: 1.2;">Monday–Saturday</span>
                  <span class="s-info-text-content-table-row-line"></span>
                  <span style="font-size: 16px; line-height: 1.2;">10:00–18:00</span>
                </div>
                <div class="s-info-text-content-table-row">
                  <span style="font-size: 16px; line-height: 1.2;">Sunday</span>
                  <span class="s-info-text-content-table-row-line"></span>
                  <span style="font-size: 16px; line-height: 1.2;">Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s-info-text s-info-t5">
          <div class="s-info-text-title">
            <h3 style="font-size: 16px; line-height: 1.2;">General Enquiries</h3>
          </div>
          <div class="s-info-text-content">
            <p>
              <a style="font-size: 16px; line-height: 1.2;" href="mailto:info@minimumaximum.store">info@minimumaximum.store</a><br>
              <a style="font-size: 16px; line-height: 1.2;" href="tel:(+44(0)2036743795)">+44(0)2036743795</a>
            </p>
          </div>
        </div>
        <div class="s-info-text s-info-t6">
          <div class="s-info-text-title">
            <h3 style="font-size: 16px; line-height: 1.2;">Newsletter</h3>
          </div>
          <div class="s-info-text-content">
            <script src="//minimumaximum.store/cdn/shop/t/3/assets/newsletter_form.js?v=168932596681554546621658150325"></script>

    <div class="mailchimp-container" id="mc_embed_signup">
      <form action="https://store.us20.list-manage.com/subscribe/post?u=918194736ae42ad28609d9da2&amp;id=cce3a2a3ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-submit mc-embedded-subscribe-form newsletter-form" target="_blank" novalidate="true" autocomplete="off">
        <div class="row-newsletter">
          <div class="row-field active">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email" required="" fdprocessedid="9etie">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" fdprocessedid="icmri5">
          </div>
          <!-- <div class="row-alert remove">
            <p style="font-size: 16px; line-height: 1.2;">Thanks for joining MinimuMaximum's newsletter</p>
          </div> -->
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_918194736ae42ad28609d9da2_cce3a2a3ef" tabindex="-1" value=""></div>
      </form>
    </div>
    <script>
      $(window).on('load', () => {
        setupMCAjax();
      });
      function callbackFunction(resp) {
        if (resp.result === 'success') {
        }
      }
      function setupMCAjax() {
        var $forms = $('.mc-embedded-subscribe-form');
        $forms.each(function (el) {
          $(this).ajaxChimp({
            callback: callbackFunction,
          });
        });
      }
    </script>

          </div>
          <div class="s-info-text-title">
            <h3 style="font-size: 16px; line-height: 1.2; text-transform: uppercase;">Follow Us on <a href="https://www.instagram.com/minimumaximum.store/" target="_blank">Instagram</a></h3>
          </div>
        </div> 
    </div>
    </div>
      <svg class="mobile-logo-image" width="1236" height="122" viewBox="0 0 1236 122" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1235.9 2.2H1214L1162.1 97.9L1143.9 2.2H1123.2L1102.5 119.7H1116.9L1134 19.7L1153.4 118H1165L1218.7 20.5L1200.8 119.6H1215.2L1235.9 2.2ZM1086.2 119.7V35.8H1072.1V79.4C1072.1 88 1070.4 97.1 1065.1 102.6C1061.5 106.4 1056.8 108.9 1051.2 108.9C1037.9 108.9 1033.3 101.4 1033.3 88.8V35.8H1019.2V90.8C1019.2 110.2 1028.8 121.6 1047.9 121.6C1057.7 121.6 1068.5 116.5 1072.8 106.8L1074 119.6H1086.2V119.7ZM998.1 119.7V64.5C998.1 45.9 989.1 33.7 970.1 33.7C959.5 33.7 948.7 39.2 944.2 49.6C940.6 39.3 931.6 33.7 919.2 33.7C909.8 33.7 900.1 38.3 895.7 47.8L894.4 35.9H882.1V119.8H896.2V75.1C896.2 68.1 897.7 59.2 901.8 53.9C905.3 49.4 910.1 46.4 916.1 46.4C929.5 46.4 933 54.5 933 66.3V119.7H947V75.1C947 66.3 948.5 57.9 954.1 52.1C957.4 48.6 961.6 46.5 966.9 46.5C980.2 46.5 984 54.6 984 66.4V119.8H998.1V119.7ZM859.5 35.8H845V119.7H859.4V35.8H859.5ZM860.5 0H844.1V16.6H860.5V0ZM832.1 119.7L802.9 76.9L831.2 35.8H815L793.9 67.5L772 35.8H755.4L783.6 76.9L755.1 119.7H771.2L793.1 86.7L815.1 119.7H832.1ZM723.7 84.2C723.7 91.2 721.5 98.1 716.6 103.3C712.1 107.9 705.8 110.1 699.4 110.1C687.5 110.1 682.8 103.1 682.8 95.7C682.8 85.1 692.7 81.1 701.2 80.6L723.7 79.3V84.2V84.2ZM746 118.9V108.5C746 108.5 743.8 109 742.4 109C739.6 109 737.8 107.8 737.8 103.4V62.7C737.8 57.9 737 53.6 735.3 49.8C731.3 40.7 722 33.7 705.8 33.7C695.5 33.7 685.6 36.7 679.9 42.7C675.6 47.2 672.8 52.6 672.6 60.3H686.4C686.4 56.2 687.9 52.8 690.5 50.2C693.3 47.4 698.1 45.2 705.8 45.2C712.6 45.2 716.7 46.9 719.6 49.5C723.4 53 723.9 58.1 723.9 62.3V68.4L698.4 69.9C675.5 71.2 668.6 85.3 668.6 96.1C668.6 109 678.2 122 697.4 122C709.2 122 719.6 116.7 724.4 108.2H724.7C724.7 115.3 729.3 121 736.8 121C740.2 120.9 743 120.4 746 118.9ZM664.1 2.2H642.2L590.3 97.9L572.1 2.2H551.4L530.7 119.7H545.1L562.2 19.7L581.6 118H593.2L646.9 20.5L629 119.7H643.4L664.1 2.2ZM514.4 119.7V35.8H500.3V79.4C500.3 88 498.6 97.1 493.3 102.6C489.7 106.4 485 108.9 479.4 108.9C466.1 108.9 461.5 101.4 461.5 88.8V35.8H447.4V90.8C447.4 110.2 457 121.6 476.1 121.6C485.9 121.6 496.7 116.5 501 106.8L502.2 119.6H514.4V119.7ZM426.3 119.7V64.5C426.3 45.9 417.3 33.7 398.3 33.7C387.7 33.7 376.9 39.2 372.4 49.6C368.8 39.3 359.8 33.7 347.4 33.7C338 33.7 328.3 38.3 323.9 47.8L322.6 35.9H310.3V119.8H324.4V75.1C324.4 68.1 325.9 59.2 330 53.9C333.5 49.4 338.3 46.4 344.3 46.4C357.7 46.4 361.2 54.5 361.2 66.3V119.7H375.3V75.1C375.3 66.3 376.8 57.9 382.4 52.1C385.7 48.6 389.9 46.5 395.2 46.5C408.5 46.5 412.3 54.6 412.3 66.4V119.8H426.3V119.7ZM287.7 35.8H273.3V119.7H287.7V35.8ZM288.7 0H272.3V16.6H288.7V0ZM251.7 119.7V64.5C251.7 45.1 241.8 33.7 222.7 33.7C213.3 33.7 201.6 38.8 197.3 48.5L196.1 35.9H183.8V119.8H198V80.8C198 74.3 198.2 65.5 201 59.4C204.6 51.8 211.1 46.5 219.2 46.5C232.5 46.5 237.6 54 237.6 66.6V119.8H251.7V119.7ZM161.3 35.8H146.9V119.7H161.3V35.8ZM162.3 0H145.9V16.6H162.3V0ZM133.5 2.2H111.6L59.7 97.8L41.4 2.2H20.7L0 119.7H14.4L31.5 19.7L50.9 118H62.5L116.2 20.5L98.3 119.6H112.7L133.5 2.2Z" fill="black"></path>
      </svg>     

<style>
  .perspective-container {
    width: 100%;
    height: 100vh;
    perspective: 100px;
  }

  .mobile-logo-image {
    bottom: 0px;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 13;
    background: #f1e9dc;
  }

  .box {
    width: 100%;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .box__face {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .box__face--front {
    transform: rotateY(0deg) translateZ(50px);
  }
  .box__face--front-2 {
    position: fixed;
    border: 1px solid black;
    transform: scale(0.85);
  }
  .box__face--front-3 {
    position: fixed;
    border: 1px solid black;
    transform: scale(0.7);
  }
  .box__face--front-4 {
    position: fixed;
    border: 1px solid black;
    transform: scale(0.55);
  }
  .box__face--back {
    transform: translate3d(0px, 0px, 0px) scale(1);
    transition: transform 0.3s ease;
  }
  .box__face--right {
    transform: rotateY(90deg) translateZ(50vw);
    border: 0;
    background: white;
  }
  .box__face--left {
    transform: rotateY(-90deg) translateZ(50vw);
    border: 0;
    background: white;
  }
  .box__face--top {
    transform: rotateX(90deg) translateZ(50vh);
    border: 2px solid black;
    background: white;
  }

  .box__face--bottom {
    transform: rotateX(-90deg) translateZ(50vh);
    border: 2px solid black;
    background: white;
  }

  .logo-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30vh);
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease;
    mix-blend-mode: difference;
    padding: 0 10px;
  }

  @media screen and (max-height: 600px) {
    .logo-image {
      transform: translate(-50%, 25vh);
    }
  }

  @media (max-width: 750px) and (min-height: 750px) {
    .logo-image {
      transform: translate(-50%, 35vh);
    }
  }
  
  @media (max-width: 750px) and (min-height: 850px) {
    .logo-image {
      transform: translate(-50%, 40vh);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      gsap.registerPlugin(ScrollTrigger);

      var section = document.querySelector(".image-container");
      var image = section.querySelector(".box__face--back");
      var logo = section.querySelector(".logo-image"); 

    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top top",
        end: "175% top",
        pin: true,
        scrub: true,
      },
    });

     gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top",
        end: "175%",
        scrub: true,
      },
    }).to(logo, { top: "0%", width: "20%", ease: "none" });
  }); 
</script>

{% schema %}
  {
    "name": "Perspective Section",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop Image"
      },
      {
        "type": "checkbox",
        "id": "show_video",
        "label": "Enable desktop video option",
        "default": false
      },
      {
        "type": "url",
        "id": "video",
        "label": "Type your desktop video link"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "checkbox",
        "id": "show_mobile_video",
        "label": "Enable mobile video option",
        "default": false
      },
      {
        "type": "url",
        "id": "mobile_video",
        "label": "Type your mobile video link"
      }
    ],
    "presets": [
      {
        "name": "Perspective Section"
      }
    ],
    "disabled_on": {
      "groups": ["custom.overlay", "header"]
    }
  }
{% endschema %}
