{% comment %}Homepage hero perspective section{% endcomment %}

<div id="section-{{ section.id }}" class="site-box-container image-container container--fullscreen connecting-lines">
  {%- if section.settings.link != blank -%}
    <a href="{{ section.settings.link }}" {% if section.settings.target %} target="_blank" {% endif %}>
  {%- endif -%}

  {%- unless section.settings.image == blank -%}
    {%- assign image = section.settings.image -%}
    {%- assign mobile_image = section.settings.mobile_image -%}
    <div class="perspective-container">
      <div class="box">
        <div class="box__face box__face--front"></div>
          <img
            src="{{ image | image_url: width: 640 }}"
            alt="{{ image.alt | strip_html | escape }}"
            srcset="{{ image | image_url: width: 320 }} 320w, {{ image | image_url: width: 480 }} 480w, {{ image | image_url: width: 640 }} 640w, {{ image | image_url: width: 840 }} 840w, {{ image | image_url: width: 1080 }} 1080w, {{ image | image_url: width: 1280 }} 1280w, {{ image | image_url: width: 1540 }} 1540w, {{ image | image_url: width: 1860 }} 1860w, {{ image | image_url: width: 2100 }} 2100w"
            sizes="100vw"
            width="{{ image.width }}" height="{{ image.height }}"
            {% unless preload %} loading="lazy" {% endunless %} class="lazy scale-one box__face box__face--back desktop-image"
            style="opacity: 1;"/>
          <img
            src="{{ mobile_image | image_url: width: 640 }}"
            alt="{{ image.alt | strip_html | escape }}"
            srcset="{{ mobile_image | image_url: width: 320 }} 320w, {{ mobile_image | image_url: width: 480 }} 480w, {{ mobile_image | image_url: width: 640 }} 640w, {{ mobile_image | image_url: width: 840 }} 840w, {{ mobile_image | image_url: width: 1080 }} 1080w, {{ mobile_image | image_url: width: 1280 }} 1280w, {{ mobile_image | image_url: width: 1540 }} 1540w, {{ mobile_image | image_url: width: 1860 }} 1860w, {{ mobile_image | image_url: width: 2100 }} 2100w"
            sizes="100vw"
            width="{{ mobile_image.width }}" height="{{ mobile_image.height }}"
            {% unless preload %} loading="lazy" {% endunless %} class="lazy scale-one box__face box__face--mobile-back mobile-image"
            style="opacity: 1;"/>
        <div class="box__face box__face--right"></div>
        <div class="box__face box__face--left"></div>
        <div class="box__face box__face--top"></div>
        <div class="box__face box__face--bottom"></div>
      </div>
    </div>
    <img class="logo-image" src="https://cdn.shopify.com/s/files/1/0635/9731/4234/files/Group_2.svg?v=1701696688" width="100%" />
  {%- else -%}
    <div class="box__blank-image">
      <span class="onboarding-svg section--image-text--item__image onboarding-background">
        {{ 'image' | placeholder_svg_tag }}
      </span>
    </div>
  {%- endunless -%}

  {%- if section.settings.link != blank -%} </a> {%- endif -%}
</div>

<style>
  .perspective-container {
    width: 100%;
    height: 100vh;
    perspective: 400px;
  }

  .box {
    width: 100%;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .box__face {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .box__face--front {
    transform: rotateY(0deg) translateZ(50px);
  }
  .box__face--back {
    transform: translate3d(0px, 0px, 0px) scale(1);
    transition: transform 0.3s ease;
  }
  .box__face--right {
    transform: rotateY(90deg) translateZ(50vw);
    border: 0;
  }
  .box__face--left {
    transform: rotateY(-90deg) translateZ(50vw);
    border: 0;
  }
  .box__face--top {
    transform: rotateX(90deg) translateZ(50vh);
    border: 2px solid black;
  }

  .box__face--bottom {
    transform: rotateX(-90deg) translateZ(50vh);
    border: 2px solid black;
  }

  .logo-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20vh);
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      gsap.registerPlugin(ScrollTrigger);

      var section = document.querySelector(".image-container");
      var image = section.querySelector(".box__face--back");
      var logo = section.querySelector(".logo-image"); 

    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top top",
        end: "100% top", // Change to percentage of viewport height
        pin: true,
        scrub: true,
      },
    });

    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top 10%",
        end: "100% top", // Change to percentage of viewport height
        scrub: true,
      },
    }).to(logo, { top: "10%", width: "30%", ease: "none" });
  });
</script>

{% schema %}
  {
    "name": "Perspective Section",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mobil_image",
        "label": "Mobile Image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.link"
      },
      {
        "type": "checkbox",
        "id": "target",
        "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.target",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Perspective Section"
      }
    ],
    "disabled_on": {
      "groups": ["custom.overlay", "header"]
    }
  }
{% endschema %}
